[package]
name = "bevy_prototype_particles"
version = "0.1.0"
authors = ["james7132 <contact@jamessliu.com>"]
edition = "2018"
license = "MIT OR Apache-2.0"

[dependencies]
bevy_app = "0.5"
bevy_core = "0.5"
bevy_ecs = "0.5"
bevy_math = "0.5"
bevy_tasks = "0.5"
bevy_render = "0.5"
rand = "0.8"
